JWT_SECRET=cambia-con-una-chiave-sicura-di-almeno-32-caratteri
JWT_EXPIRATION=86400000

DB_URL=jdbc:postgresql://localhost:5432/postgres
DB_USERNAME=utenti_user
DB_PASSWORD=cambia-con-password-sicura
